<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
       <listener class-name ="com.mystore.utility.ListenerClass"> </listener>
    </listeners>
    <test verbose="2" preserve-order="true"
          name="C:/Users/Mahesh/SeleniumFrameworkFromScratch/src/test/java/com/mystore/testcases/LoginPageTest.java">
        <parameter name="browser" value="FireFox"></parameter>
        <groups>
            <run>
                <include name="Smoke"/>
            </run>
        </groups>
        <classes>
            <class name="com.mystore.testcases.LoginPageTest">
                <methods>
                    <include name="verifyuserlogin"/>
                    <include name="validateproductpage"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>